@import url(https://fonts.googleapis.com/css?family=Ewert);

body {
    background-image: url("https://shorturl.at/5Jg8b");
    background-repeat: repeat;
    background-size: cover;
    padding: 20px;
    }

h1 {
    /* latin-ext */
    font-family: 'Ewert',sans-serif;
    font-style: normal;
    font-size: 44pt;
    font-weight: 1;
    color: #291200;
    margin: 0;
}


.poster {
    text-align: center;
    padding: 20px;
    width: 488px;
    height: 690px;
    background-image: url("./img/paper.jpg");
    background-position: center;
    -webkit-box-shadow: 2px 5px 15px 5px rgba(24,21,18,0.51); 
    box-shadow: 2px 5px 15px 5px rgba(24,21,18,0.51);
}

#mugshot {
    width: 300px;
    height: 325px;
    padding: 20px;
    border: 2px solid #291200 ;
    

}

   